/** @format */

.no-wrap {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.name-tag {
  margin-left: 0.5rem;
  font-size: 1.2em;
  font-weight: 600;
}

.network-card {
  background: #fff;
  border-radius: 12px;
  border: none;
}

.form-check-input:active {
  box-shadow: none;
}

.select-switch-lg {
  transform: scale(1.1);
  margin-right: 8px;
}

.font-name-tag {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
